@charset "UTF-8";
:root{
    --cor1:#BFB78F;
    --cor2:#025E73;
    --cor3:#011F26;
    --cor4:#A5A692;
    --cor5:#F2A71B;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
}
header{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 8dvh;
    padding: 20px;
}
nav{
    background-color: var(--cor2);
    color: white;
    font-size: 1.2em;
}
nav>a{
    
}
main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
section{
    background-color: white;
    background-image: url(../imagem/brasil-olimpiadas.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.384);   
}
