@charset "UTF-8";
:root{
    --cor1:#ffeca8;
    --cor2:#363124;
    --cor3:#615430;
    --cor4:#E1A601;
    --cor5:#B68D1E;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
}
header{
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 8dvh;
    padding: 20px;
}
nav{
    background-color: var(--cor2);
    color: white;
    font-size: 1.2em;
    padding: 8px;
}
nav>a{
    padding: 8px;
    margin: 8px; 
    text-decoration: none;
    color: rgb(235, 229, 145);
    text-align:unset;
}
nav>a:hover{
    color: var(--cor2);
    background-color: var(--cor1);
    border-radius: 5px;
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
section{
    background-color: white;
    background-image: url(../imagem/brasil-olimpiadas.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.384);   
}
